
.instant-search {
  margin: 0 1.4em 0 0.5em;
}

.instant-search .contextual {
  display: none;
}

.instant-search__inner {
  position: relative;
}

.instant-search__trigger {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../assets/magnifier.svg) no-repeat center center;
}

.instant-search__close {
  display: block;
  position: absolute;
  top: -0.34rem;
  right: 0.44rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  z-index: 1;
}

.instant-search__close:before {
  display: block;
  content: '\00d7';
  color: var(--color-brand-normal);
}

.instant-search__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 5.5em 3vh 0;
  overflow-y: scroll;
  background: rgba(23, 41, 19, 0.8);
  color: var(--color-brand-normal-tertiary);
}

.instant-search--open .instant-search__overlay {
  display: block;
}

.instant-search__input {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  border: 0;
  background: transparent;
}

.instant-search__input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.instant-search .twitter-typeahead {
  display: block !important;
}

.instant-search .twitter-typeahead .tt-hint {
  opacity: 0.5 !important;
}

.instant-search .twitter-typeahead .tt-menu {
  width: 100%;
  margin: 2em 0;
}

.tt-dataset-search>* {
  position: relative;
  padding: 1.25em 1.25em 1em;
  background: #ccc;
  color: black;
  margin-bottom: 0.8em;
}

.tt-cursor {
  background: #eed;
}

.search-result-excerpt em {
  background: #ff9;
}
