/**
 * @file
 * Styles for the elasticsearch helper content administration page.
 */

#elasticsearch-helper-content-settings-form table .index {
  width: 1%;
}

#elasticsearch-helper-content-settings-form table .bundle {
  width: 25%;
}

#elasticsearch-helper-content-settings-form table .field {
  padding-left: 3em;
  width: 24%;
}

#elasticsearch-helper-content-settings-form table .configuration {
  width: 75%;
}
